// Mixins in here

.button-styling(){
    background-color: @button-bg;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto' 'sans sarif';
    font-size: 2rem;
    height: 50px;
    width: 200px;    
}

.flex-box(){
    display: flex;
    flex-direction: column;
}