// Navigation Styles here

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    font-family: 'Roboto' 'sans sarif';
    text-decoration: none;
    margin-left: 50%; 
}