// Navigation Styles here

.header nav {
    width: 45%;
    font-size: 2rem;
    font-family: 'Roboto' 'sans sarif';
    text-decoration: none;
    margin-top: 3%;   
    display: flex;
    justify-content: space-between; 
    @media(max-width: 500px) {
        .flex-box()
        align-items: center;
    }  
     
    a {
        justify-content: space-between;
    }
    
}
